.article-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10rem;
}

.img-detail{
    width: 600px;
}

.h2-detail{
    color: #000000;
    text-align: center;
    font-size: 4vw;
    margin: -15px 0;
    font-family: "EB Garamond", serif;
    font-weight: 500;
}

.h3-detail{
    font-family: "Outfit", sans-serif;
    color: #29395c;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0;
}

.p-title{
    font-family: "Outfit", sans-serif;
    margin: 1rem 0 0;
    text-align: start;
    color: #29395c;
    font-size: 1.3rem;
    font-weight: 500;
}

.p-info{
    font-family: "EB Garamond", serif;
    margin: 0;
    text-align: start;
    color: #29395c;
    font-size: 1.3rem;
}

.div-info{
    margin: 1rem 10rem;
}

.button-product2 {
    font-family: "Outfit", sans-serif;
    background-color: #ffffff;
    border: 2px solid #1F2337;
    color: #1F2337;
    padding: 0.5vw 1vw;
    text-decoration: none;
    font-size: 0.8vw;
    transition: 0.3s;
    margin: 0 0 !important;
  }
  
  .button-product2:hover {
    background-color: #1F2337;
    transition: 0.3s;
    border: 2px solid #1F2337;
    color: #ffffff;
  }

  .div-button_cart_container{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0;
  }