@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(28, 31, 49, 0.9254901961);
  z-index: 1000;
  padding: 10px 25px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.h1-navbar {
  font-size: 2rem;
  margin: 0.5rem;
}
